@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

*{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: auto;
}

body {
  background-color: darkslategrey;
}

h1{
  font-size: 48px;
  text-shadow: #474747 3px 5px 2px;
  grid-column: 2;
  grid-row: 1 / -3;
  margin-bottom: 32px;
}

h1, h2, h3, label {
  color: white;
}

input {
  border: 2px solid black;
}

div {
  column-gap: 10px;
}

div[name=score]{
  margin: 5px -5px -5px -5px;
  font-size: 24px;
  border: 2px solid white;
  border-radius: 6px;
  padding: 5px;
}

div[name=minerList]{
  grid-row: 2 / -2;
  grid-column: 2;
}

div[name=ores] {
  grid-row: 3 / -3;
  grid-column: 1;
  margin: 16px 16px 0 0;
  border: 2px solid white;
  border-radius: 10px;
  padding: 5px;
  background-color: slategrey;
}

div[name=team] {
  grid-row: 2;
  grid-column: 2;
  margin-top: -16px;
}

div[name=SaveMenu] {
  grid-row: 3;
  grid-column: 2;
}

.grid-container {
  display: grid;
  justify-content: center;
}

.score {
  font-size: 24px;
}
/*Table */
table {
  border: 2px solid white;
  border-radius: 10px;
  padding: 5px;
  margin-top: 5px;
  background-color: slategray;
}

/*Button Start*/

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: grey;
  font: inherit;
  color: currentColor;
  width: 1em;
  height: 1em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  transform: translateY(0.15em);
}

input[type="radio"]:checked{
  background-color: darkslategrey;
}

input[type="radio"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

/*Miner buttons*/

button[name='mineralButton'] {
  box-shadow: 0 2px 8px rgb(0, 0, 0, 0.25);
  height: 48px;
  width: 48px;
  font-size: 28px;
  border: 2px solid black;
  border-radius: 10px;
  color: black;
}

button[name='mineralButton']:hover{
  background: lightgrey;
}

button[name='mineralButton']:active{
  background: grey;
}

/*Calculate Final Button*/

button[name='calc-fin'] {
  box-shadow: 0 2px 8px rgb(0, 0, 0, 0.25);
  height: 48px;
  width: auto;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  color: black;
}
button[name='calc-fin']:hover{
  background: lightgrey;
}

button[name='calc-fin']:active{
  background: grey;
}

/*saves buttons*/

button[name='saves'] {
  box-shadow: 0 2px 8px rgb(0, 0, 0, 0.25);
  height: auto;
  width: auto;
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 5px;
  color: black;
}
button[name='saves']:hover{
  background: lightgrey;
}

button[name='saves']:active{
  background: grey;
}

/*Buttons end*/

/* Second Window */


table[class="sec-win"]{
  width: 500px;
  height: 300px;
}


div[name="team 1 score"]{
  color: white;
  grid-row: 1;
  grid-column: 1 / 2;
}
div[name="team 2 score"]{
  color: white;
  grid-row: 1;
  grid-column: 3 / 2;
}
div[name="team 3 score"]{
  color: white;
  grid-row: 2;
  grid-column: 1 / 3;
}
