@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
  box-sizing: border-box;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}

body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

form {
  display: inline;
}
div {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

div[name='ores']{
  display:inline-block;
  float: left;
  width: 45%;
  padding: 16px 16px 16px;
}

button[name='mineralButton'] {
  height: 48px;
  width: 48px;
  margin-bottom: 12px;
  font-size: 28px;
}

input[name='player'] {
}

input[name='declaration'] {

}

div[name='team'] {
  width: 45%;
  display:inline-block;
  float: right;
  padding: 16px 16px 16px;
}

.Total{
  display:inline-block;
  bottom: 16px;
  padding: 16px 16px 16px;
}

/*Second Window Styles*/

div[name='team 1 score']{
  display:inline-block;
  float: left;
  width: 50%;
}

div[name='team 2 score'] {
  display:inline-block;
  float: right;
  width: 45%;
}

div[name='team 3 score']{
  display:inline-block;
  margin: auto;
  width: 50%;
}